html, body {
    height: 100%;
}

a {
    transition:0.4s ease;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    cursor: pointer;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    border-radius:0;
    -webkit-border-radius:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    -webkit-box-shadow:none;
}

.body::before {
    content: '';
    position:fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    background-color: #BFAF80;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;  
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#BFAF80;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.sign {
    display:block;
    position: relative;
}

.sign__content {
    display: flex;
    flex-direction:center;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 100vh;
    padding: 40px 0; 
} 

.sign__form::before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    display: block;
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5)
}

.sign__form {
    background-color: #BFAF80;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    border-top: 3px solid #8C6954;
}

.sign__logo {
    margin-bottom:40px;
}

.sign__logo img {
    max-width: 172px;
}

.sign__group {
    position: relative;
    margin-bottom:20px;
}

.sign__input {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2EEB3;
    border:none;
    height: 50px;
    position: relative;
    color: #000;
    font-size: 15px;
    width: 250px;
    border-radius: 0;
    -webkit-border-radius:0;
    padding: 0 20px;
    letter-spacing: 0.2px; 
}

.sign__group--checkbox {
    width: 100%;
    text-align: left;
}

.sign__group--checkbox input:not(:checked), .sign__group--checkbox input:checked {
    position: absolute;
    left: -9999px;
}

.sign__group--checkbox input:not(:checked) + label, .sign__group--checkbox input:checked + label {
    font-size:14px;
    color:rgba(255,255,255,0.5);
    font-family:'Open Sans', sans-serif;
    position: relative;
    cursor: pointer;
    padding-left: 34px;
    line-height: 22px;
    margin:0;
}

.sign__group--checkbox input:not(:checked) + label::before, .sign__group--checkbox input:checked + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color:#F2EEB3;
}

.sign__group--checkbox input:not(:checked) + label:after {
    opacity:0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
}

.sign__group--checkbox input:checked + label::after {
    opacity: 1;
    transform:scale(1);
    -webkit-transform: scale(1);
    -moz-transform:scale(1);
}

.sign__group--checkbox label::selection {
    background:transparent;
    color: #fff;
}

.sign__group--checkbox label::-moz-selection {
    background:transparent;
    color: #fff;
}


.sign__group--checkbox input:not(:checked) + label::after, .sign__group--checkbox input:checked + label::after {
    font-family:'Ionicons';
    content:'\f3ff';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 20px; 
    text-align: center;
    transition:0.5s;
    color:#59323C;
}

.sign__group--checkbox input:not(:checked) + label a:hover, .sign__group--checkbox input:checked + label a:hover {
    opacity: 1;
}

.sign__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 20px 0 #BFAF80;
    opacity: 0.85;
    font-size: 13px;
    color: #F2EEB3;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 20px auto 0;
    background-color: #8C6954;
}

.sign__btn:hover {
    opacity: 1;
    color:#fff;
    background-color: #59323C;
}

.sign__text {
    margin-top: 20px;
    font-size: 14px;
    color: #F2EEB3;
    font-family:'Open Sans', sans-serif;
}

.sign__text a {
    position: relative;
    background-color: #59323C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8C6954;
    opacity: 0.8;
}

.sign__text a:hover {
    opacity: 1;
}

/* responsive */
@media (min-width: 768px) {
    .sign__form {
       padding: 50px 60px; 
    }
    .sign__logo {
        margin-bottom: 5px;
        margin-top:-50px;
    }
}

@media (min-width:360px) {
    .sign__input {
        width: 280px;
    }
}